<div>
    <h1>REGISTER</h1>
    <form action="/auth/register" method="post">
        <label for="">Email:</label>
        <input type="email" name="email" />
        <label for="">Password:</label>
        <input type="password" name="password" />
        <input type="submit" value="Enviar" />
    </form>
</div>